<div class="container">
<h1>Sign In</h1>

<div class="row">
  <div class="col-sm-8">
    <%= form_tag do %>
      <% if !@user.nil? %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div class="row">
        <div class="col-md-1">

            <%= text_field_tag :email, params[:email], class:'form-control' %>
            <%= password_field_tag :password, nil, class:'form-control' %>
            <%= submit_tag "Sign In",class:'btn btn-warning' %>

          <% end %>
        </div>
      </div>

  </div>
</div>
</div>
