
<div id="main-form">
  <div id="form-div">
      <form action="/events/<%= params[:id]%>/modify" method="put" id="form-one" class="form">
      <h2>Event</h2>
      <p class="name">
        <input name="name" value="<%=@event.name%>" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" required/>
        <input name="picture_url" value="<%=@event.hero_image_url%>" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Picture URL" id="name" required/>
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker_start'>
                          <input name='start_date' type='text' class="form-control" placeholder="Start Date" required/>
                          <span class="input-group-addon">
                              <span class="fa fa-calendar"></span>
                          </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker_start').datetimepicker();
                });
            </script>

            <div class='col-sm-6'>
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker_end'>
                        <input name='end_date' type='text' class="form-control" placeholder="End Date" required/>
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                  </div>
              </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker_end').datetimepicker();
                });
            </script>
        </div>
      </p>
    <h2> Venues </h2>
      <p class="name">
        <div class="form-group">
          <select name='venue_id' class="form-control" id="exampleSelect1" required>
            <% @venues.each do |venue| %>
            <% if @event.venue_id == venue.id %>
            <option value='<%= venue.id %>' selected><%= venue.name %></option>
            <% else %>
            <option value='<%= venue.id %>'><%= venue.name %></option>
            <% end %>
            <% end %>
          </select>
        </div>
      </p>
      <h2> Categories </h2>
      <p class="name">
        <div class="form-group">
          <select name='category_id' class="form-control" id="exampleSelect1" required>
            <% @categories.each do |category| %>
            <% if @event.category_id == category.id %>
            <option value='<%= category.id %>' selected ><%= category.name %></option>
            <% else %>
            <option value='<%= category.id %>' ><%= category.name %></option>
            <% end %>
            <% end %>
          </select>
        </div>
      </p>

      <p class="text">
        <textarea name="content" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Content" required><%= @event.extended_html_description %></textarea>
      </p>


      <div class="submit">
        <input type="submit" value="Update" id="button-bottom"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
