<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href='<%= signin_path %>'>Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='<%= signup_path %>' >Sign Up</a>
      </li>
      <% if !current_user.nil? %>
      <li class="nav-item">
        <a class="nav-link" href='<%= signout_path %>' >Sign Out</a
      </li>
      <li class="nav-item">
        <a class="nav-link" href='<%= new_event_path %>' >Create Event</a
      </li>
      <li class="nav-item">
        <a class="nav-link" href='<%= new_venue_path %>' >Create Venue</a
      </li>
    <% end %>
    </ul>
  </nav>

<%= yield %>

</body>
</html>
